* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}


#table-graph {
  position: absolute;
  border: thin solid black;
}